<p class="pull-right">
<a class="btn btn-default" href="/sites/{{site.id}}/edit" role="button">edit</a>
</p>

<h2><a href="/">{{title}}</a></h2>

<h1>{{site.parsed_url.hostname}}{{#if site.label}} ({{site.label}}){{/if}}</h1>

[scans here]
