<p class="pull-right">
<a class="btn btn-danger" href="/servers/{{server.id}}/delete" role="button" onclick="return confirm('are you sure?');">delete server</a>
</p>

<h1>edit server</h1>

<form method="post" action="" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Label</label>
    <div class="col-sm-10">
      <input type="text" value="{{server.label}}" class="form-control" placeholder="label..." name="label">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Notify email(s)</label>
    <div class="col-sm-10">
      <input type="text" value="{{server.notify}}" class="form-control" placeholder="emails..." name="notify">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked" name="active" {{#if server.active}}checked="checked" {{/if}}> Active
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>